<!DOCTYPE html>
<html lang="ja">


<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app">
    <div class="container profile">
      <section class="section profile-heading">
        <div>
          <div class="level">
            <span class="title is-1">Step1</span>
          </div>
          <p class="level is-pulled-right">
            <span class="nav-item">Estimated monthly cost</span>
            <span class="nav-item subtitle is-3">¥{{total}} / 月</span>
          </p>
        </div>
        <section class="section">
          <div class="container">
            <div class="heading">
              <h1 class="title">Plan</h1>
            </div>
            <hr>
            <div class="columns">
              <div class="column is-4 name">
                <label for="s" class="box is-large is-fullwidth has-text-centered">
                  <input type="radio" id="s" name="plan" value="100" v-model="plan" />
                  <div class="content" style="margin-top:10px;">
                    <span class="title is-1">S</span>
                    <span style="font-size: 20px; margin-left: 10px">¥100/月</span>
                  </div>
                </label>
              </div>
              <div class="column is-4 name">
                <label for="m" class="box is-large is-fullwidth has-text-centered">
                  <input type="radio" id="m" name="plan" value="1000" v-model="plan" />
                  <div class="content" style="margin-top:10px;">
                    <span class="title is-1">M</span>
                    <span style="font-size: 20px; margin-left: 10px">¥1000/月</span>
                  </div>
                </label>
              </div>
              <div class="column is-4 name">
                <label for="l" class="box is-large is-fullwidth has-text-centered">
                  <input type="radio" id="l" name="plan" value="5000" v-model="plan"/>
                  <div class="content" style="margin-top:10px;">
                    <span class="title is-1">L</span>
                    <span style="font-size: 20px; margin-left: 10px">¥5000/月</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="heading">
              <h1 class="title">Size</h1>
            </div>
            <hr>
            <div class="content">
              <input type="range" name="size" style="width:100%;" min="0" max="10" step="1" v-model="size">
              <span>{{size}}</span>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="heading">
              <h1 class="title">Options</h1>
            </div>
            <hr>
            <div class="content">
              <label for="op1" class="box is-large" style="font-size: 20px;" >
                <input type="checkbox" id="op1" style="margin-right:20px" value="200"
                       v-model="options">
                <span>Option 1</span>
                <span style="margin-left: 10px">¥200/月</span>
              </label>
              <label for="op2" class="box is-large" style="font-size: 20px;" >
                <input type="checkbox" id="op2" style="margin-right:20px" value="400"
                       v-model="options">
                <span>Option 2</span>
                <span style="margin-left: 10px">¥400/月</span>
              </label>
              <label for="op3" class="box is-large" style="font-size: 20px;">
                <input type="checkbox" id="op3" style="margin-right:20px" value="100"
                     v-model="options">
                <span>Option 3</span>
                <span style="margin-left: 10px">¥100/月</span>
              </label>
            </div>
          </div>
        </section>
        <div class="control is-grouped">
        </div>
      </section>
      <option-s></option-s>
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue@2.0.3/dist/vue.min.js"></script>
<script src="app.js"></script>

</html>